:root {
  --font: "Manrope", sans-serif;

  /* colors */
  /* ### Primary */

  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);

  /* ### Neutral */

  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  background: var(--DarkBlue);
  color: var(--LightCyan);
}

.card {
  background: var(--DarkGrayishBlue);
  padding: 35px;
  position: relative;
  text-align: center;
  max-width: 500px;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  word-wrap: break-word;
}
.divider {
  width: 100%;
  height: 20px;
  margin: 20px 0;
  background-image: url(images/pattern-divider-desktop.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 10px;
  color: var(--NeonGreen);
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.dice {
  width: 50px;
  position: absolute;
  background: var(--NeonGreen);
  padding: 15px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
  cursor: pointer;
}

.dice img {
  max-width: 100%;
  display: block;
}
.dice:hover {
  box-shadow: 0 0 25px var(--NeonGreen);
}

@media only screen and (max-width: 375px) {
  body {
    max-width: 375px;
    width: 100%;
    padding: 20px;
  }

  .divider {
    background-image: url("images/pattern-divider-mobile.svg");
  }
}
